#error-container {
	text-align: left;
	/* padding: 15px; */
	margin-top: -25px;
  margin-left: 200px;
}


#Top
{
  font-weight: bold;
  font-size: 30px;
}

#middle
{
  /* font-weight: bold; */
  font-size: 25px;
}


#bottom{
  margin-top: 200px;
  	text-align: center;
    font-weight: bold;
}
