#explore-container {
	text-align: left;
	/* padding: 15px; */
	margin-top: -35px;
}




#explore {
	margin-bottom: 20px;
	font-weight: bold;
}

#services-container
{
  margin-bottom: 50px;
  /* border: 20px; */
}

#current-container{
  
}
