@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url("../css/fonts/OpenSans-Regular.ttf");
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Open Sans;
    /*    overflow-x: hidden;*/
}

.logoNav {
    overflow: hidden;
    border-bottom: 2px solid rgba(195, 16, 0, .6);
    width: 100%;
    text-align: center; 
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logoNav .row {
    width: auto;
    height: auto;
    margin: 0px;
}

.logo h1{
    font-size: 28px;
    margin: 15;
}

/* left nav col */

.glyphicon-search {
    color: rgb(195, 16, 0);
}

.glyphicon-search:hover {
    color: white;
    transition: 0.5s;
}

/* middle nav col */

#searchBar {
    margin: 10px 0;
}

#searchForm {
    /*    height: 100%;*/
    vertical-align: center;
    margin: 0 auto;
    width: auto;
}

#searchForm input {
    height: 35px;
    width: 100%;    
    position: relative;
}

#searchForm button {
    border-radius: 0px;
    width: auto;
    height: 35px;
    background-color: black;
    text-align: right;
}

/* right nav col */

.anchorWrapper {
    margin-top: 15px;
}

.anchorWrapper a {
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.buttonWrapper button {
    border-radius: 100px;
    margin-top: 10px;
    font-size: 16px;
    background-color: black;
    color: rgb(195, 16, 0);
    font-weight: bold;
    text-align: center;
    position: relative;
    border: none;
    padding: 6 12px;
    outline: none;
}

.buttonWrapper button:hover {
    transition: 0.5s;
    color: white;
}

/* footer */

.footer {
    height: 90px;
    width: 100%;
    border-top: 1px solid rgba(195, 16, 0, .2);
    margin-top: 50px;
}

.footer a {
    width: auto;
    height: auto;
    float: right;
    margin: 0 auto;
    margin-right: 5px;
}

.footer p {
    /*    font-family: 'Source Sans Pro', sans-serif;*/
    font-size: 16px;
    font-weight: bold;
}

.footer .row {
    text-align: center;
    margin-top: 25px;
}

.footer-mid a {
    margin-right: 15px;
}

.icon-wrapper {
    float: none;
    margin-right: 33%;
}

.line-row {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.thick-line {
    border-bottom: 2px solid rgba(195, 16, 0, .2);
    margin-top: 5px;
    color: 5px solid rgba(195, 16, 0, .2);
}

.invisible-line {
    /*    border: 1px solid black;*/
    margin-top: 5px;
}

.lr2 .thick-line {
    border-bottom: 1px solid rgba(195, 16, 0, .2);
}

.dropdown-menu {
    min-width: 0px;
}

.dropdown-toggle:focus {
    background-color: red;
}

.input-group-addon {
    background: none;
    padding: 0;
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #888;
}