.fullscreenBanner {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0px;

    background-image: url("../media/temp.jpg");
/*    background-attachment: fixed;*/
    background-position: center;
/*    background-repeat: no-repeat;*/
    background-size: cover;
}

.fullscreenBanner button {
/*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    color: rgb(195, 16, 0);
    text-decoration: none;
    font-family: Open Sans !important;
    font-size: 18px;
    font-family: 600 !important;
    font-weight: bolder;
    background-color: rgba(0 , 0 , 0, 0.7);
    border: 1px solid black;
    border-radius: 0px;
    border-color: rgba(195, 16, 0, 0.2);
*/
}

.bannerButton button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    color: rgb(195, 16, 0);
    text-decoration: none;
    font-family: Open Sans !important;
    font-size: 18px;
    font-family: 600 !important;
    font-weight: bolder;
    background-color: rgba(0 , 0 , 0, 0.7);
    border: 1px solid black;
    border-radius: 0px;
    border-color: rgba(195, 16, 0, 0.2);
}

.fullscreenBanner button:hover {
    color: white;   
    background-color: rgba(0 , 0 , 0, 0.9);
    transition: 1s;
}

.fullscreenBanner img {
    height: 100%;
    width: 100%;
}

.bannerNav {
    width: 100%;
    position: relative;
    /*    top: 75px;*/
    height: 50px;
    z-index: 999;
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.bannerNav li {
    text-align: center;
    height: 40px;
    width: 75px;
    margin: 0px 10px 0px 10px;
}

.bannerNav a {
    font-size: 12px;
    color: black !important;
    /*    font-family: 'Source Sans Pro', sans-serif;*/
    text-decoration: none;
    font-weight: 600;
    text-shadow: none !important;
}

.dropdown:hover {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border-bottom: 3px solid black;
}

/* content grid starts here */

.content-grid {
    height: auto;
    width: 100%;
    margin-top: 5px;
    /*    border-top: 3px solid rgba(195, 16, 0, .6);*/
}

.col-content {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 24.6666667%;
    height: 500px;

    /*    background-color: black;*/
    color: white;
}

.c1 {
    margin-left: 8%;
    background: url("../media/1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.c2 {
    margin-left: 5%;
    margin-right: 5%;
    background: url("../media/2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.c3 {
    margin-right: 8%;
    background: url("../media/3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.t3 {
    height: 50%;
}

.t3:first-of-type {
    /*    border-bottom: 1px solid black;*/
}

a {
    text-shadow: 0px;
}

.col-heading {
    margin-top: 50px;
    text-align: center;
}

.col-heading h3 {
    font-size: 21px;
    color: rgb(195, 16, 0);
    /*    font-weight: 600;*/
}
