.fullscreenBanner {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    padding: 0px;
    /*
    background-image: url("../media/temp.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/
}

.fullscreenBanner img {
    height: 100%;
    width: 100%;
}

.bannerNav {
    width: 100%;
    position: absolute;
    top: 75px;
    height: 50px;
    z-index: 999;
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.bannerNav li {
    text-align: center;
    height: 40px;
    width: 75px;
    margin: 0px 10px 0px 10px;
}

.bannerNav a {
    font-size: 12px;
    color: black !important;
    /*    font-family: 'Source Sans Pro', sans-serif;*/
    text-decoration: none;
    font-weight: 600;
    text-shadow: none !important;
}

li:hover {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border-bottom: 3px solid black;
}

/* content grid starts here */

.content-grid {
    height: 500px;
    width: 100%;
    margin-top: 50px;
}

.col-content {
    width: 24.6666667%;
    height: 100%;
    border: 2px solid black;
    border-radius: 25px;
}

.c1 {
    margin-left: 8%;
}

.c2 {
    margin-left: 5%;
    margin-right: 5%;
}

.c3 {
    margin-right: 8%;
}

.t3 {
    height: 50%;
}

.t3:first-of-type {
    /*    border-bottom: 1px solid black;*/
}

a {
    text-shadow: 0px;
}

.col-heading {
    margin-top: 50px;
    text-align: center;
}

.col-heading h3 {
    font-size: 21px;
}
